#OverviewText1{
  width: 550px;
  height: 350px;
  position: absolute;
  top: -200px;
  left: 2000px;
}
#OverviewText2{
  width: 550px;
  height: 350px;
  position: absolute;
  top: 900px;
  left: 2000px;
}
#OverviewText3{
  width: 550px;
  height: 350px;
  position: absolute;
  top: 345px;
  left: 2000px;
}
#OverviewText4{
  color ="blue"
  width: 510px;
  height: 340px;
  position: absolute;
  top: -5px;
  left: 1427px;
}
#OverviewText6{
  width: 550px;
  height: 320px;
  position: absolute;
  top: 200px;
  left: 0px;
}

#content{
  padding-top:250px;
}
body {
background-color:rgb(23,21,25)
}
#av{
  position: absolute;
  top:  325px;
  left: 900px;
  font-family:arial;font-size:22px;
   color:rgb(255,255,255)
}
#ol{
position: absolute;
  top:  525px;
  left: 885px;
  font-family:arial;font-size:22px;  
  color:rgb(255,255,255)
}
#OverviewText7{
 width: 550px;
  height: 320px;
  position: absolute;
  top: 900px;
  left: -885px;
}